
<div fxLayout fxLayoutAlign="end end">
  <mat-form-field fxFlex="20%">
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<div>
<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
    <td mat-cell *matCellDef="let run"> {{run.date}} </td>
  </ng-container>
  <ng-container matColumnDef="course">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Course </th>
    <td mat-cell *matCellDef="let run"> {{run.course}} </td>
  </ng-container>
  <ng-container matColumnDef="distance">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Distance </th>
    <td mat-cell *matCellDef="let run"> {{run.distance}} </td>
  </ng-container>
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Time </th>
    <td mat-cell *matCellDef="let run"> {{run.runDuration.time}} </td>
  </ng-container>
  <ng-container matColumnDef="weather">
    <th mat-header-cell *matHeaderCellDef> Weather </th>
    <td mat-cell *matCellDef="let run"> {{run.weather}} </td>
  </ng-container>
  <ng-container matColumnDef="comments">
    <th mat-header-cell *matHeaderCellDef> Comments </th>
    <td mat-cell *matCellDef="let run"> {{run.comments}} </td>
  </ng-container>
  <ng-container matColumnDef="avgheartrate">
    <th mat-header-cell *matHeaderCellDef> Avg Heart Rate </th>
    <td mat-cell *matCellDef="let run"> {{run.avgHeartRate}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>

</table>
  <mat-paginator [pageSize]="25" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons [length]="dataSource.data.length"></mat-paginator>

</div>
