<form class="change-password-form" [formGroup]="dateForm">
  <select formControlName="selectedMonth" class="month-date-picker-select">
  <option *ngFor="let month of months">{{month}}</option>
</select>
<select formControlName="selectedYear" class="month-date-picker-select">
  <option *ngFor="let year of years">{{year}}</option>
</select>

<br>
  <button mat-raised-button mat-dialog-close color="primary" class="month-date-picker-button">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" (click)="setDate()" color="primary" class="month-date-picker-button">Save</button>
</form>
