.activity-filter {
  margin-left: 25px;
  margin-top: 50px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.activity-filter-input {
  font-size: large;
  background-color: #def1ff;
}


tr.mat-row  {
  background: #f0f3f5;
  height: 24px !important;
  cursor: pointer;
}

 .mat-row:nth-child(even) {
  background-color: #def1ff;
}

 .mat-cell {
   padding-right: 5px;
   font-size: 12px;
 }

 .mat-form-field {
   font-size: 10px;
 }

table {
  width: 100%;
}

.mat-mdc-row:nth-child(odd) {
  background: #def1ff;
}

.mat-mdc-row:nth-child(even) {
  background: #f0f3f5;
}

th.mat-sort-header-sorted {
  color: black;
}

.floating-button-container {
  position: fixed;
  top: 95px; /* Adjust for padding */
  left: 300px;  /* Adjust for padding */
  z-index: 1000; /* Ensure it's above other content */
}

button[mat-fab] {
  width: 64px; /* Optional: Customize size */
  height: 64px; /* Optional: Customize size */
  font-size: 24px; /* Optional: Customize icon size */
}






