<form name="startDate">
  <div class="formgrid">
    <label>Start Date</label>
    <select name="selectedStartMonth" [(ngModel)]="selectedStartMonth" class="month-date-picker-select">
      <option *ngFor="let month of months" [value]="month" [selected]="month === selectedStartMonth">{{month}}</option>
    </select>
    <select name="selectedStartYear" [(ngModel)]="selectedStartYear" class="month-date-picker-select">
      <option *ngFor="let year of years" [value]="year" [selected]="year === selectedStartYear">{{year}}</option>
    </select>
  </div>
</form>

<form name="endDate">
  <div class="formgrid">

    <label>End Date</label>
    <select name="selectedEndMonth" [(ngModel)]="selectedEndMonth" class="month-date-picker-select">
      <option *ngFor="let month of months" [value]="month" [selected]="month === selectedEndMonth">{{month}}</option>
    </select>
    <select name="selectedEndYear" [(ngModel)]="selectedEndYear" class="month-date-picker-select">
      <option *ngFor="let year of years" [value]="year" [selected]="year === selectedEndYear">{{year}}</option>
    </select>
  </div>
  <br>
  <div>
    <button mat-raised-button mat-dialog-close color="primary" class="month-date-picker-button">Cancel</button>
    <button mat-raised-button [mat-dialog-close]="true" (click)="setDate()" color="primary"
            class="month-date-picker-button">Show Chart
    </button>
  </div>
</form>
