.activity-view-title {
  font-size: xx-large;
  font-weight: bold;
  padding-left: 20px;
  padding-bottom: 40px;
  padding-top: 20px;

}

.activity-view-info {
  font-size: larger;
  font-weight: normal;
  padding-left: 3px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 50px;
  width: 100px;
  float: inline-start;
}

.activity-view-info-group {
  float: left;
  margin-right: 30px;
  margin-left: 20px;
}

.activity-view-info-label {
  font-size: smaller;
  font-style: italic;
  color: darkgrey;
}

.activity-view-divider {
  clear: both;
  margin-bottom: 40px;
}

.activity-view-button {
  float: right;
  padding-top: 10px;
  padding-right: 100px;
}

.activity-view-button-delete {
  background-color: darkred;
  color: yellow;
}
