.calendar-wrapper {
  text-align: center;
}

.calendar-header {
  padding: 15px 0 15px 10px;
  font-size: larger;
  font-weight: bold;
}

.calendar-body {
  display: inline-block;
}

th.calendar-table-cell {
  border-color: #0a59b2;
  border-width: 1px;
  border-style: solid;
  height: 20px;
  width: 100px;
  position: relative;
}

.weekly-totals-cell {
  background-color: darkgray;
  border-color: #0a59b2;
  border-width: 1px;
  border-style: solid;
  color: white;
}

.weekly-totals-title {
  font-size: smaller;
  font-weight: bold;
  padding: 2px 2px;
}

.weekly-totals-item {
  font-size: smaller;
  padding: 2px 2px;

}

.calendar-table-row {

}

.calendar-footer {
  height: 20px;
  border: #0a59b2;
  border-width: 1px;
  border-style: solid;
  font-size: smaller;
}

.calendar-footer-item {
  margin-left: 10px;
}

dd {
  margin-left: 2px;
}

table {
  border-collapse:collapse;
}
