

  <input type="hidden" id="id" ngModel="run.id">

  <div class="ui-g">
    <!--
  <div class="ui-g-4">
       <span>Date: </span>
     </div>
     <div class="ui-g-8">
       <p-calendar id="date" ngModel="run.date"></p-calendar>
     </div>
   <br/>

 -->
  <div class="ui-g-4">
    <label for="distance" class="textField">Distance: </label>
  </div>
  <div class="ui-g-6">
    <input type="text" id="distance" class="textField" [(ngModel)]="run.distance">
  </div>
  <br/>
  <div class="ui-g-4">
    <label for="course" class="textField">Course: </label>
  </div>
  <div class="ui-g-8">
    <input type="text" id="course" class="textField" [(ngModel)]="run.course">
  </div>
    <br/>
  <div class="ui-g-4">
    <label for="time" class="textField">Time: </label>
  </div>
  <div class="ui-g-8">
    <input type="text" id="time" class="textField" [(ngModel)]="run.runDuration.time">
  </div>
  <br/>
  <div class="ui-g-4">
    <label for="weather" class="textField">Weather: </label>
  </div>
  <div class="ui-g-8">
    <input type="text" id="weather" class="textField" [(ngModel)]="run.weather">
  </div>
  <br/>
  <div class="ui-g-4">
    <label for="comments" class="textField">Comments: </label>
  </div>
  <div class="ui-g-8">
    <input type="text" id="comments" class="textField" [(ngModel)]="run.comments">
  </div>
  <br/>
  <div class="ui-g-4">
    <label for="shoes" class="textField">Shoes: </label>
  </div>
  <div class="ui-g-8">
    <select id="shoes" class="textField">  </select>
  </div>
  <br/>
  <label for="avgHeartRate" class="textField">Avg. Heart Rate</label>
  <input type="text" id="avgHeartRate" class="textField" [(ngModel)]="run.avgHeartRate">
  <br/>
  </div>



