<mat-card>
  <h3>Change Password</h3>
  <form class="change-password-form" [formGroup]="changePasswordForm">

    <mat-form-field>
      <mat-label>Old password</mat-label>
      <input matInput type="password" formControlName="oldPassword">
      @if (submitted && f.oldPassword.errors) {
        <div>
          @if (f.oldPassword.errors.required) {
            <mat-error>Old password is required</mat-error>
          }
        </div>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>New password</mat-label>
      <input matInput type="password" formControlName="newPassword">
      @if (submitted && f.newPassword.errors) {
        <div>
          @if (f.newPassword.errors.required) {
            <mat-error>New password is required</mat-error>
          }
          @if (f.newPassword.errors.mustMatch) {
            <mat-error>Passwords must match</mat-error>
          }
        </div>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Repeat new password</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
      @if (submitted && f.confirmPassword.errors) {
        <div class="invalid-feedback">
          @if (f.confirmPassword.errors.required) {
            <mat-error>Confirm Password is required</mat-error>
          }
          @if (f.confirmPassword.errors.mustMatch) {
            <mat-error>Passwords must match</mat-error>
          }
        </div>
      }
    </mat-form-field>

  </form>
  <br>
    <button mat-raised-button color="primary" class="change-password-button" (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary"  class="change-password-button" (click)="onSubmit()">OK</button>
  </mat-card>
