<mat-card>
  <h3>Change Password</h3>
  <form class="change-password-form" [formGroup]="changePasswordForm">

    <mat-form-field>
      <mat-label>Old password</mat-label>
      <input matInput type="password" formControlName="oldPassword">
      <div *ngIf="submitted && f.oldPassword.errors">
        <mat-error *ngIf="f.oldPassword.errors.required">Old password is required</mat-error>
      </div>
    </mat-form-field>

    <mat-form-field>
      <mat-label>New password</mat-label>
      <input matInput type="password" formControlName="newPassword">
      <div *ngIf="submitted && f.newPassword.errors">
        <mat-error *ngIf="f.newPassword.errors.required">New password is required</mat-error>
        <mat-error *ngIf="f.newPassword.errors.mustMatch">Passwords must match</mat-error>
      </div>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Repeat new password</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
        <mat-error *ngIf="f.confirmPassword.errors.required">Confirm Password is required</mat-error>
        <mat-error *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</mat-error>
      </div>
    </mat-form-field>

  </form>
  <br>
  <button mat-raised-button color="primary" class="change-password-button" (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary"  class="change-password-button" (click)="onSubmit()">OK</button>
</mat-card>
