.mat-card {
  min-width: 100px;
  max-width: 300px;
  width: 50%;
}


.change-password-form {
  min-width: 100px;
  max-width: 300px;
  width: 50%;
  font-size: x-small;
}

.change-password-button {
    margin-right: 10px;
    margin-bottom: 10px;
    width: fit-content;
}
