<h2 mat-dialog-title>{{ isEdit ? 'Edit activity' : 'New activity' }}</h2>
<mat-dialog-content>
  <form class="activity-dialog-form">
    <mat-form-field class="activity-dialog-full-width mdc-form-field">
      <mat-label>Date</mat-label>
      <input matInput name="date" [(ngModel)]="activity.date" [matDatepicker]="picker">
      <mat-datepicker-toggle matDatepickerToggleIcon [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="activity-dialog-full-width">
      <mat-label>Distance</mat-label>
      <input matInput name="distance" [(ngModel)]="activity.distance">
    </mat-form-field>

    <mat-form-field class="activity-dialog-full-width">
      <mat-label>Activity Type</mat-label>
      <mat-select [(ngModel)]="activity.activityType" name="activityType"  (selectionChange)="setSelectedGear()">
        <mat-option>--</mat-option>
        <mat-option [value]="activityTypes.Run">Run</mat-option>
        <mat-option [value]="activityTypes.Bike">Bike</mat-option>
        <mat-option [value]="activityTypes.Swim">Swim</mat-option>
        <mat-option [value]="activityTypes.Hike">Hike</mat-option>
        <mat-option [value]="activityTypes.Other">Other</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="activity-dialog-full-width">
      <mat-label>Course</mat-label>
      <input matInput name="course" [(ngModel)]="activity.course">
    </mat-form-field>

    <mat-form-field class="activity-dialog-full-width" appearance="fill">
      <mat-label>Time</mat-label>
      <input matInput name="time"
             [(ngModel)]="displayDuration"
             (ngModelChange)="onDurationChange($event)"
             placeholder="00:00:00">
      <mat-hint>Format: HH:MM:SS or MM:SS</mat-hint>
    </mat-form-field>
    <mat-form-field class="activity-dialog-full-width" appearance="fill">
      <mat-label>Weather</mat-label>
      <input matInput name="weather" [(ngModel)]="activity.weather">
    </mat-form-field>
    <mat-form-field class="activity-dialog-full-width" appearance="fill">
      <mat-label>Comments</mat-label>
      <input matInput name="comments" [(ngModel)]="activity.comments">
    </mat-form-field>
    <mat-form-field class="activity-dialog-full-width" appearance="fill">
      <mat-label>Avg. Heart Rate</mat-label>
      <input matInput name="avgHeartRate" [(ngModel)]="activity.avgHeartRate">
    </mat-form-field>
    <mat-form-field *ngIf="selectedGear" class="activity-dialog-full-width"  appearance="fill">
      <mat-label>Gear</mat-label>
      <mat-select [(ngModel)]="selectedGear.id" name="gears">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let gear of findGearForActivity(activity)" [value]="gear.id">{{gear.name}} ({{gear.mileage | number: '1.0-2'}} km)</mat-option>
      </mat-select>
    </mat-form-field>
    <input #csvInput hidden="hidden" type="file" onclick="this.value=null" (change)="fileInputChange($event)" />
    <button mat-flat-button color="primary" (click)="csvInput.click()">Choose GPX Track</button>

  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <div class="dialog-button-row">
  <button mat-raised-button mat-dialog-close color="primary" (click)="cancel()">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" (click)="createOrEditActivity()" color="primary">Save</button>
  </div>

</mat-dialog-actions>

