<h2 mat-dialog-title>{{ isEdit ? 'Edit run' : 'New run' }}</h2>
<mat-dialog-content>
  <form class="run-dialog-form">
    <mat-form-field class="run-dialog-full-width">
      <mat-label>Date</mat-label>
      <input matInput type="date" name="date" [(ngModel)]="activity.date">
    </mat-form-field>

    <mat-form-field class="run-dialog-full-width">
      <mat-label>Distance</mat-label>
      <input matInput name="distance" [(ngModel)]="activity.distance">
    </mat-form-field>

    <mat-form-field class="run-dialog-full-width">
      <mat-label>Activity Type</mat-label>
      <mat-select [(ngModel)]="activity.activityType" name="activityType">
        <mat-option>--</mat-option>
        <mat-option [value]="activityTypes.Run">Run</mat-option>
        <mat-option [value]="activityTypes.Bike">Bike</mat-option>
        <mat-option [value]="activityTypes.Swim">Swim</mat-option>
        <mat-option [value]="activityTypes.Hike">Hike</mat-option>
        <mat-option [value]="activityTypes.Other">Other</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="run-dialog-full-width">
      <mat-label>Course</mat-label>
      <input matInput name="course" [(ngModel)]="activity.course">
    </mat-form-field>

    <mat-form-field class="run-dialog-full-width">
      <mat-label>Time</mat-label>
      <input matInput name="time" [(ngModel)]="activity.activityDuration.time">
    </mat-form-field>
    <mat-form-field class="run-dialog-full-width">
      <mat-label>Weather</mat-label>
      <input matInput name="weather" [(ngModel)]="activity.weather">
    </mat-form-field>
    <mat-form-field class="run-dialog-full-width">
      <mat-label>Comments</mat-label>
      <input matInput name="comments" [(ngModel)]="activity.comments">
    </mat-form-field>
    <mat-form-field class="run-dialog-full-width">
      <mat-label>Avg. Heart Rate</mat-label>
      <input matInput name="avgHeartRate" [(ngModel)]="activity.avgHeartRate">
    </mat-form-field>
    <mat-form-field class="run-dialog-full-width">
      <mat-label>Shoes</mat-label>
      <mat-select [(ngModel)]="selectedShoe.id" name="shoes">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let shoe of shoes" [value]="shoe.id">{{shoe.name}} ({{shoe.mileage | number: '1.0-2'}} km)</mat-option>
      </mat-select>
    </mat-form-field>
    <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="fileInputChange($event)" />
    <button mat-flat-button color="primary" (click)="csvInput.click()">Choose GPX Track</button>

  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="primary" (click)="cancel()">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" (click)="createActivity($event)" color="primary">Save</button>

</mat-dialog-actions>


