

.mat-toolbar {
  background-color: #def1ff !important;
  display: flex;
  flex-direction: row;
}

.mat-toolbar-single-row {
  height: 24px;
}

.mat-button {
  color: black;
  display: flex;
}

.mat-icon-button {
  color: black;
  display: flex;
  min-width: 80px;
}


.mat-menu-item {
  height: 24px;
  line-height: 24px;
  display: flex;
}

.material-icons {
  font-size: smaller;
}

.menu-item-right {
  padding-left: 50px;
}
