<mat-toolbar *ngIf="tokenStorageService.getUser()" color="primary" class="app-run">
  <button mat-button routerLink="/home" routerLinkActive="active">
   <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-button routerLink="/calendar" routerLinkActive="active">
    <mat-icon>calendar_today</mat-icon>
    <span style="overflow-wrap: break-word">Activity Calendar</span>
  </button>
  <button mat-button (click)="newRun()">
    <mat-icon>add_circle</mat-icon>
    <span>New Run</span>
  </button>
  <button mat-button [matMenuTriggerFor]="toolsMenu">
    <mat-icon>build</mat-icon>
    <span>Tools</span>
  </button>
  <mat-menu #toolsMenu="matMenu" >
    <button mat-menu-item disabled="true">
      <mat-icon inline="true">search</mat-icon>
      <span>Find runs</span>
    </button>
    <button mat-menu-item disabled="true">
      <mat-icon inline="true">show_chart</mat-icon>
      <span>Chart this</span>
    </button>
    <button mat-menu-item (click)="prepareLineChart()">
      <mat-icon inline="true">timer</mat-icon>
      <span>Average tempo</span>
    </button>
    <button mat-menu-item (click)="prepareBarChartMonthly()">
      <mat-icon inline="true">insert_chart</mat-icon>
      <span>Monthly chart</span>
    </button>
    <button mat-menu-item (click)="prepareBarChartYearly()">
      <mat-icon inline="true">insert_chart_outlined</mat-icon>
      <span>Yearly chart</span>
    </button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="settingsMenu">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
  <mat-menu #settingsMenu="matMenu">
    <button mat-menu-item routerLink="/shoes" routerLinkActive="active">
      <mat-icon inline="true">edit</mat-icon>
      <span class="menu-item-right">Shoes</span>
    </button>
    <button mat-menu-item routerLink="/changePassword" routerLinkActive="active">
      <mat-icon inline="true">lock</mat-icon>
      <span>Change password</span>
    </button>
    <button mat-menu-item disabled="true">
      <mat-icon inline="true">info</mat-icon>
      <span>What's new?</span>
    </button>
  </mat-menu>
  <button mat-button routerLink="/logout" routerLinkActive="active">
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>

