<mat-radio-group [(ngModel)]="preferredShoes">
<table mat-table [dataSource]="shoes">
  <ng-container matColumnDef="preferred">
    <th mat-header-cell *matHeaderCellDef> Default </th>
    <td mat-cell *matCellDef="let shoes">
      <mat-radio-button [value]="shoes" (change)="setPreferredShoes($event)"></mat-radio-button>
    </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let shoes"> {{shoes.name}} </td>
  </ng-container>
  <ng-container matColumnDef="mileage">
    <th mat-header-cell *matHeaderCellDef> Mileage </th>
    <td mat-cell *matCellDef="let shoes"> {{shoes.mileage  | number: '1.0-2'}} km</td>
  </ng-container>
  <ng-container matColumnDef="retire">
    <th mat-header-cell *matHeaderCellDef> Retire them </th>
    <td mat-cell *matCellDef="let shoes">
      <button mat-icon-button (click)="retireShoes(shoes)">
        <mat-icon inline="true">delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let shoes; columns: columnsToDisplay"></tr>
</table>
</mat-radio-group>
