<h3 mat-dialog-title>{{ editMode ? 'Edit Gear' : 'New Gear' }}</h3>
<mat-dialog-content>
  <form class="gear-dialog-form">
    <mat-form-field>
      <mat-label>Gear Type</mat-label>
      <mat-select [(ngModel)]="gear.gearType" name="gearType">
        <mat-option [value]="gearTypes.Bike">Bike</mat-option>
        <mat-option [value]="gearTypes.Shoes">Shoes</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput name="name" [(ngModel)]="gear.name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Offset (km)</mat-label>
      <input matInput name="offset" type="number" [(ngModel)]="gear.mileageOffset">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="gear-dialog-actions">
  <button mat-raised-button mat-dialog-close color="primary">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" (click)="saveGear(gear)" color="primary">Save</button>

</mat-dialog-actions>

