
.gear-dialog-form {
  min-width: 100px;
  max-width: 200px;
  width: 60%;
  font-size: x-small;
}

.textField {
  margin: 5px 3px 5px 3px;
  display: inline-block;
  float: left;
}

.input-dialog {
  /*font-size: 0.8em !important;*/
  text-align: left;
}
