<td [ngClass]="getClassForDate(calendarDay.day)">
  <div class="calendar-day-header">{{calendarDay.day.getDate()}}</div>
  @if (calendarDay.activities) {
    @for (activity of calendarDay.activities; track activity) {
      <div class="calendar-activity" [ngClass] = "getClassForActivity(activity)" (click)="showActivity(activity)">
        <div><mat-icon class="calendar-activity-icon">{{getIcon(activity)}}</mat-icon>&nbsp;{{activity.course}} - </div><div>{{activity.distance}} km {{activity.duration | duration}}</div>
      </div>
    }
  }
</td>
