<div class="login-page">
  <h1 class="login-title">John's Fitness Activities</h1>
  <form class="login-form">
  <p *ngIf="isError" class="has-error">
    Login Error!
  </p>
<mat-form-field >
    <mat-label>User Name</mat-label>
    <input matInput name="username" [(ngModel)]="username">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" name="password" [(ngModel)]="password" (keydown.enter)="checkLogin()">
  </mat-form-field>
    <button  type="submit" mat-raised-button (click)=checkLogin() color="primary" class="login-button">
      Login
    </button>
</form>
  <mat-divider></mat-divider>
</div>
<router-outlet></router-outlet>
