/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~primeicons/primeicons.css';

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: smaller;
}

body .ui-widget {
  font-size: 8px !important;
}

body .ui-table
.ui-table-tbody
tr {
  background: #f0f3f5;
}

tr:nth-child(even) {
  background-color: #c2e3ff !important;
}

table {
  width: 100%;
}

.ui-dialog-titlebar {
  background-color:  #c2e3ff !important;
}
